@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");

/* todo: nollställ onödig default-styling, lägg in färger i variabler, bestäm ytterligare minst 1 typsnitt och importera dem korrekt, bestäm textstorlekar i rem. */

/* extra: Implementera nån form av animation */

:root {
  --main-background-color: #9fc7af;
  --secondary-background-color: #281300;
  --main-text-color: #281300;
  --secondary-text-color: #efefef;
  font-size: 62.5%;
}

/* Tar bort ett par av default-värden för margin och padding för att enklare hantera styling och ändrar så storleken alltid är hela boxens storlek */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Tar bort punkter för listor  */
li {
  list-style: none;
}

/* Tar bort dekoration från länkar */
a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus,
a:active {
  outline: none;
}

body {
  background-color: var(--main-background-color);
}

img {
  max-width: 100%;
}

/* todo: just nu bara test */
h1 {
  font-size: 50px;
}

/* todo: just nu bara test */
.white-text {
  color: var(--secondary-text-color);
}

/* todo: just nu bara test */
.brown-text {
  color: var(--main-text-color);
}

.hidden {
  display: none;
}

header {
  min-height: 20vh;
  padding: 0 20px;
}
/* Börjar styla headern */
.top-navigation-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  min-height: 3rem;
}

/* Loggan och namnet fyller upp tom plats  */
.logo-container {
  order: 0;
  flex-grow: 1;
}

.hamburger {
  order: 2;
}

.searchbar {
  order: 1;
}

.navigation-links-container {
  position: absolute;
  top: 3rem;
  left: -20px;
  width: 100vw;
  border-top: 2px solid var(--secondary-background-color);
}

.navigation-links-container > li {
  border-bottom: 2px solid #281300;
}

/* todo: just nu bara test */
.presentation-slogan {
  font-family: "Fascinate Inline", cursive;
}

i {
  cursor: pointer;
  min-width: 4rem;
  text-align: end;
}

.navigation-link-text {
  padding: 2rem 0;
  background: var(--main-background-color);
  text-align: center;
}

.navigation-link:is(:hover, :active, :focus) > .navigation-link-text {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}

@media (min-width: 580px) {
  .navigation-link-text {
    padding: 0.3rem 0.5rem;
    background: linear-gradient(
        to left,
        var(--main-background-color) 50%,
        var(--secondary-background-color) 50%
      )
      right;
    background-size: 200% 100%;
    transition: all 0.4s ease;
    width: fit-content;
  }

  .navigation-link:is(:hover, :active, :focus) > .navigation-link-text {
    transition: all 0.4s ease;
    background-position: left;
  }
}
