@import url("https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

/* todo: lägg in färger i bättre klasser, bestäm ytterligare minst 1 typsnitt */
/* extra: Implementera nån form av animation */

/* Lägger in de mest använda färgerna i variabler för att enkelt kunna ändra färgerna på hela sidan, samt sätter font size så det motsvarar 10px */
:root {
  --main-background-color: #9fc7af;
  --main-background-color-nyans: #39473f;
  --secondary-background-color: #281300;
  --secondary-background-color-transparent: #281300ec;
  --main-text-color: #281300;
  --secondary-text-color: #efefef;
  --main-btn-background-color: #ff6364;
  --secondary-btn-background-color: #efefef;
  font-size: 62.5%;
}

/* Tar bort ett par av default-värden för margin och padding för att enklare hantera styling och ändrar så storleken alltid är hela boxens storlek */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Tar bort dekoration från länkar */
a {
  text-decoration: none;
  color: inherit;
}

/* Tar bort dekoration från aktiva länkar */
a:hover,
a:focus,
a:active,
button:hover,
button:focus,
button:active {
  outline: none;
  border: none;
}

address {
  font-style: normal;
}

button {
  background-color: unset;
  border: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

fieldset {
  border: none;
}

/* Teckenstorlek, typsnitt och radhöjd. */
.big-heading-size {
  font-size: 4rem;
}

.normal-heading-size {
  font-size: 2.8rem;
}

.normal-text-size {
  font-size: 1.6rem;
}

.brown-text {
  color: var(--main-text-color);
}

.white-text {
  color: var(--secondary-text-color);
}

.bold-text {
  font-family: "Fascinate Inline", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
}

.normal-text {
  font-family: "Playfair Display", serif;
}

.hidden {
  display: none;
}

.center-text {
  text-align: center;
}

/* todo: ändra till klass för att få med andra rutor */
input[type="search"] {
  outline: none;
  border: 0;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
}

.btn {
  padding: 0.8rem 3rem;
  border: 0;
  border-radius: 5px;
  font-size: inherit;
  cursor: pointer;
  width: fit-content;
  font-family: "Playfair Display", serif;
}

.btn:hover,
.btn:active,
.btn:focus {
  /* todo: måste göra det tydligt att man har fokus. men fungerar inte riktigt med färgerna! Kom ihåg att lägga till hover till +- också, samt till hamburgermenyn! */
  outline: 2px solid black;
  text-decoration: underline;
}

.btn-big {
  width: 100%;
}

.btn-small {
  padding: 6px 8px;
  font-size: 1.2rem;
}

.btn-red {
  background-color: var(--main-btn-background-color);
}

.btn-white {
  background-color: var(--secondary-btn-background-color);
}

.btn-selected {
  background-color: var(--main-background-color-nyans);
  color: var(--secondary-text-color);
}

/* Styling av sidan */
body {
  background-color: var(--main-background-color);
}

/* Header, navigation och hamburgermeny */
header {
  position: fixed;
  width: 100%;
  padding: 0 20px;
  background-color: var(--main-background-color);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.top-navigation-content {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  min-height: 7rem;
  flex-wrap: wrap;
}

/* Loggan och namnet fyller upp tom plats  */
.logo-container {
  order: 0;
  flex-grow: 1;
}

.hamburger-container {
  order: 2;
  min-width: 3rem;
  text-align: end;
}

/* todo: är snyggare att ha en animation för menyn än att den bara försvinner / dyker upp */
.navigation-links-container {
  order: 1;
  position: absolute;
  top: 7rem;
  left: 0;
  width: 100vw;
  border-top: 1px solid var(--main-background-color-nyans);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.navigation-links-container > li {
  border-bottom: 1px solid var(--main-background-color-nyans);
}

i {
  cursor: pointer;
  text-align: end;
}

.navigation-link-text {
  padding: 2rem 0;
  background: var(--main-background-color);
  text-align: center;
}

.navigation-link:is(:hover, :active, :focus) > .navigation-link-text {
  color: var(--secondary-text-color);
  background-color: var(--main-background-color-nyans);
}

/* Här kommer huvudinnehållet
Headern är minst 7rem */
main {
  padding-top: 7rem;
}

.page {
  /* min-height: 100vh; */
}

.page:not(.page:nth-of-type(1)) {
  /* padding-top: 16px; */
}

.page:first-of-type,
.page:last-of-type {
  /* min-height: calc(100vh - 7rem); */
}

.page:last-of-type:not(:first-of-type) {
  /* padding: 48px; */
}

.last-page {
  padding-bottom: 48px;
}

/* Första helside-sektionen */
.presentation {
  display: flex;
  flex-direction: column;
}

.presentation-top-container {
  flex-grow: 1;
  /* Lägger till 11rem padding i botten för att texten inte ska gå in i dekorationsboxen */
  padding: 0 24px 11rem;
}

.page h1,
.page h2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

#slogan {
  margin-bottom: 8px;
}

.presentation-bottom-container {
  width: 100%;
  background-color: var(--secondary-background-color);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 42px 28px;
  align-items: center;
}

.bottom-container__btn {
  margin-top: 16px;
}

.bottom-container__img {
  width: 120px;
  position: absolute;
  bottom: 88%;
  left: 10%;
}

.bottom-container-decoration {
  position: absolute;
  bottom: 102%;
  right: 10%;
  height: 8rem;
  width: 8rem;
  transform: rotate(45deg);
  background-color: darkred;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 1);
}

.bottom-container-decoration__text {
  transform: rotate(-45deg);
  transform-origin: bottom right;
  position: absolute;
  top: -0.5em;
  font-size: 1rem;
}

.short-find-us {
  display: flex;
  height: 100vh;
  background: url(../assets/images/contact-background-mobile.jpg) no-repeat
    center center;
  /* position: relative; */
  /* background-color: red; */
}

/* .short-find-us > picture {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.short-find-us img {
  object-fit: cover;
  object-position: center;
  max-height: 100vh;
  width: 100%;
} */

.short-find-us-info-container {
  background-color: var(--secondary-background-color-transparent);
}

.short-find-us-info-container,
.short-opening-hours-info-container {
  width: 25rem;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 8px 8px 24px;
  /* position: absolute; */
}

.short-find-us-info-container p {
  margin-bottom: 8px;
}

.short-find-us-info-container p:last-of-type {
  margin-top: 24px;
}

.short-opening-hours {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 48px 0;
}

.short-opening-hours-info-container {
  background-color: var(--secondary-background-color);
  background-color: var(--secondary-background-color-transparent);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.opening-hours-table {
  border-collapse: collapse;
  text-align: left;
}

.opening-hours-table th,
.opening-hours-table td {
  padding: 4px 8px 0;
}

footer {
  min-height: 7rem;
  padding: 16px 0;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
}

footer > address {
  margin-bottom: 8px;
}

/* Shop */
.shop {
  padding: 0 24px 48px;
}

.shop-items-container {
  margin-top: 24px;
}

.shop-item-container:not(:first-of-type) {
  padding-top: 24px;
}

.shop-item-container:not(:last-of-type) {
  padding-bottom: 24px;
  border-bottom: 2px solid var(--secondary-btn-background-color);
}

/* Sök och filtrera */
.shop-filter-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 16px;
  border-bottom: 2px solid var(--secondary-btn-background-color);
}

.shop-filter-container > label {
  margin-top: 16px;
}

/* Vara innehåll */
.item-desc {
  margin: 8px 0;
}

.item-coffee-type {
  margin-bottom: 16px;
}

.item-info-content-btns {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 16px;
}

.ground-coffee-btn {
  margin-right: 8px;
}

.item-info-content-item-counter {
  display: flex;
  color: black;
  width: fit-content;
  border: 1px solid var(--main-background-color-nyans);
  margin: auto auto 24px auto;
}

.item-info-content-item-counter > button {
  cursor: pointer;
}

.item-info-content-item-counter > * {
  font-size: 2rem;
  padding: 8px 16px;
}

/* @media (max-width: 580px) and (min-height: 640px) {
  .bottom-container__img {
    width: 150px; 
    left: 5%;
  }
}

@media (max-width: 580px) and (min-height: 700px) {
  .bottom-container__img {
    width: 300px;
    bottom: 77%;
    left: 0;
  }

  .bottom-container-decoration {
    bottom: 185%;
    right: 5%;
  }
}

@media (max-width: 580px) and (min-height: 740px) {
  .bottom-container__img {
    height: 400px;
    bottom: 45%;
  }
}

@media (max-width: 580px) and (min-height: 780px) {
  .bottom-container-decoration {
    bottom: 195%;
    width: 10rem;
    height: 10rem;
    right: 5%;
  }

  .bottom-container-decoration__text {
    font-size: 1.2rem;
  }
} */

@media (min-width: 460px) {
  /* Shop */
  .shop-items-container {
    display: grid;
    gap: 48px 24px;
    grid-template-columns: repeat(2, 1fr);
  }

  .shop-item-container:not(:first-of-type) {
    padding-top: 0;
  }

  .shop-item-container:not(:last-of-type) {
    padding-bottom: 0;
    border-bottom: none;
  }
}

@media (min-width: 480px) {
  /* Döljer hamburgermenyn och visar som länkar istället */
  header {
    position: unset;
  }

  .hamburger-container {
    display: none;
  }

  .logo-container {
    flex-grow: 0;
  }

  .navigation-links-container {
    display: flex;
    position: unset;
    top: unset;
    left: unset;
    border-top: none;
    width: max-content;
    flex-grow: 1;
    justify-content: space-evenly;
    box-shadow: unset;
  }

  .presentation-top-container p:nth-of-type(2),
  .presentation-top-container p:nth-of-type(3) {
    width: 70%;
    text-align: justify;
  }

  .shopping-icon {
    order: 2;
    width: 3rem;
  }

  .navigation-links-container > li {
    border-bottom: none;
  }

  .navigation-link-text {
    padding: 0.3rem 0.5rem;
  }

  .navigation-link:is(:hover, :active, :focus) > .navigation-link-text {
    color: unset;
    background-color: unset;
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  main {
    padding-top: 0;
  }

  .top-navigation-container {
    padding: 0 10%;
  }

  .top-navigation-content {
    padding: 0 24px;
  }

  .presentation {
    width: 80%;
    margin: auto;
  }

  .presentation-top-container > #slogan {
    /* display: flex;
    justify-content: space-between; */
    width: 60%;
    text-align: left;
  }

  .presentation-top-container p:nth-of-type(2),
  .presentation-top-container p:nth-of-type(3) {
    width: 50%;
  }

  .bottom-container__img {
    width: 300px;
    bottom: 70%;
    left: unset;
    right: 5%;
  }

  .presentation-bottom-container {
    border-radius: 10px;
  }

  .bottom-container-decoration {
    bottom: 215%;
    margin: auto;
    right: 2.5%;
  }

  .page:not(.page:nth-of-type(1)) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .bottom-startpage-container {
    display: flex;
    margin: 96px 0;
    align-content: flex-end;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: var(--secondary-background-color);
  }

  .short-find-us {
    background: unset;
  }

  .short-find-us,
  .short-opening-hours {
    width: 50%;
    height: 100%;
  }

  /* Shop */
  .shop-filter-container {
    width: 50%;
    margin: auto;
  }
  .shop-items-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 920px) {
  .top-navigation-container {
    padding: 0 20%;
  }
  .presentation {
    width: 60%;
    min-height: calc(100vh - 7rem);
  }

  .bottom-startpage-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  /* Shop */
  .shop-items-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
